{% extends "base.html" %}
{% load custom_filter %}
{% load static %}
{% block main_content %}
    <main>
        <!-- Start Edit Profile Section -->
        <div class="edit-delete">
            <h2>Edit Profile</h2>
            <!-- Start Edit Profile From -->
            <form action="{% url 'edit_profile' pk=request.user.pk %}" method="post">
                <div class="label-input">
                    <p class="error">{{ form.first_name.errors }}</p>
                    <label for="first name">First name: </label>
                    {{ form.first_name }}
                </div>
                <br>
                <div class="label-input">
                    <label for="last name">Last name: </label>
                    {{ form.last_name }}
                </div>
                <br>
                <div class="label-input">
                    <p class="error">{{ form.date_of_birth.errors }}</p>
                    <label for="date of birth">Date of Birth: </label>
                    {{ form.date_of_birth|placeholder:"YYYY-MM-DD" }}
                </div>
                <br>
                <div class="label-input">
                    <label for="profile picture">Profile Picture: </label>
                    {{ form.profile_picture|placeholder:"Picture URL" }}
                </div>


                <!-- Edit Profile Button -->
                <button class="edit-btn" type="submit">Edit</button>
                {% csrf_token %}
            </form>
            <!-- End Edit Profile Form -->

        </div>
        <!-- End Edit Profile Section -->

    </main>
{% endblock %}