{% extends "base.html" %}
{% load custom_filter %}
{% load static %}
{% block main_content %}
    <!-- Starts Main Section -->
    <main>

        <!-- Start Register Section -->
        <div class="login-register-div">
            <div class="login-register-box">
                <h1>Petstagram</h1>

                <!-- Start Register Form -->
                <form method="post">
                    {{ form.email|placeholder:"Email" }}    <!-- Email Field -->
                    {{ form.email.errors }} <!-- Email Error -->
                    
                    {{ form.password1|placeholder:"Password" }} <!-- Password Field -->
                    {{ form.password1.errors }} <!-- Password Error -->
                    {{ form.password2|placeholder:"Repeat Password" }} <!-- Confirm Password Field -->
                    {{ form.password2.errors }} <!-- Confirm Password Error -->

                    <!-- Register Button -->
                    <button type="submit">Register</button>
                    {% csrf_token %}
                </form>
                <!-- End Register Form -->

            </div>
            <div class="second-option">

                <!-- Link to Login Page -->
                <p>Have an account? <a href="{% url "signin_user" %}">Log in</a></p>
            </div>
        </div>
        <!-- End Register Section -->

    </main>
    <!-- End Main Section -->
{% endblock %}